.container {
    margin: 20px 40px;
}

.title,
.subtitle {
    letter-spacing: 0.02em;
}

.title {
    margin-bottom: 8px;
    font-size: 40px;
}

.subtitle {
    color: #7E7E7E;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 35px;
}